/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



// fonts
$base-font-size: 15;
$body-font: "DM Sans", serif;
$heading-font: "Montserrat", serif;




// color
$base-color: #282828;//
$white: #ffffff;//
$small-white: #181818;//
$black: #000;//

$template-color: #F8C100;//
$body-bg-color: #fff;
$section-color: #181818;//
$text-color: #D3D3D3;//
$text-light-color: #535353;
$heading-color: $base-color;
$border-color: #D9D9D9;
$border-color-s2: #303030;


