// Project Common Button 
a.button,
button.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 55px;

  color: #181818;
  font-family: $heading-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  transition: all 0.3s ease-in;
  position: relative;
  padding: 20px 68px 20px 24px;
  border-radius: 100px;
  border: none;
  outline: none;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 3px;
    right: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }

  &.yellow {
    background: $template-color;
    color: $small-dark;

    &::before {
      background-color: $white;
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" fill="%23181818"/%3E%3C/svg%3E');
    }

    &:hover {
      background-color: $dark-bg;
      color: $white;

      &::before {
        background-color: #7F7F7F;
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" fill="%23ffffff"/%3E%3C/svg%3E');
        transform: rotate(45deg);
      }
    }
  }

  &.dark {
    background: #464646;
    color: $white;

    &::before {
      background-color: #7F7F7F;
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" fill="%23ffffff"/%3E%3C/svg%3E');
    }

    &:hover {
      background-color: $template-color;
      color: $small-dark;

      &::before {
        background-color: $white;
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" fill="%23181818"/%3E%3C/svg%3E');
        transform: rotate(45deg);
      }

    }
  }

}