.sticky_active{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	transition: all .3s  ease-in-out;
	box-shadow: 0 -5px 15px rgba(8, 106, 216, 0.2901960784);
	z-index: 11111;

  }
  
