/* top_title */
.section-title {
    span {
        color: #FC0;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
        display: inline-block;
        position: relative;
        padding-left: 26px;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 1px;
            background: #FC0;
        }
    }

    h2 {
        color: $white;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 110%;
    }

    p {
        color: $white;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 160%;
        margin-top: 20px;
    }
}