/*4. metier_footer_section */
.metier_footer_section {
    position: relative;
    z-index: 1;
    background: #282828;

    .footer-left {
        .footer-logo {
            display: inline-block;

        }

        p {
            color: #FFF;
            margin-top: 25px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 156%;
            /* 24.96px */
        }
    }

    .subscribe {
        position: relative;

        h3 {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%;
            margin-bottom: 15px;
        }

        input {
            border-radius: 63px;
            background: #FFF;
            display: flex;
            padding: 24px 50px 24px 24px;
            color: #71788A;
            font-family: "DM Sans";
            font-size: 15px;
            font-style: italic;
            font-weight: 400;
            line-height: 95%;
            width: 100%;
            border: none;
            outline: none;
            height: 62px;
        }

        .submit-btn {
            border-radius: 35px;
            background: #F8C100;
            display: flex;
            width: 54px;
            height: 54px;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            transition: all 0.3s ease-in-out;
            position: absolute;
            right: 4px;
            bottom: 4px;
        }
    }


    .footer_top {
        padding: 55px 0;

        @media (max-width: 991px) {
            padding: 40px 0 40px;
        }

        @media (max-width:767px) {
            padding: 30px 0;
        }
    }

    .footer-middle {
        padding-top: 35px;
        padding-bottom: 55px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        border-top: 1px solid rgba(255, 255, 255, 0.10);

        .wdiget-list {
            .widget-title {
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%;
            }

            p {
                color: rgba(255, 255, 255, 0.60);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
                margin-top: 12px;
                margin-bottom: 0;
            }

            .subtitle {
                color: rgba(255, 255, 255, 0.60);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
                display: block;
            }
        }

        .mailing-addr {
            margin-top: 30px;

            a {
                color: rgba(255, 255, 255, 0.80);
                font-family: $heading-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 170%;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $template-color;
                }
            }
        }

        .footer-menu {
            display: flex;
            align-items: center;
            column-gap: 32px;
            margin-top: 30px;

            a {
                color: rgba(255, 255, 255, 0.60);
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                transition: all 0.3s ease-in-out;

                &:hover,
                &.active {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    .footer_bottom {
        padding: 35px 0;

        p {
            color: rgba(255, 255, 255, 0.60);
            font-family: $body-font;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
            margin-bottom: 0;
            text-align: center;

            a {
                color: #F8C100;
                font-family: "DM Sans";
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 170%;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: none;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
            }
        }
    }

}