/* ABOUT US SECTION START */
.about-us-section {
    background: #282828;

    .about-image-wrap {
        position: relative;

        .img {
            max-width: 505px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .video-button {
            position: absolute;
            bottom: 79px;
            right: 35px;
            border-radius: 16px;
            background: rgba(24, 24, 24, 0.38);
            backdrop-filter: blur(10px);
            display: inline-block;
            width: 248px;
            height: 269px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 135px;
            }
        }
    }

    .about-us-list {
        max-width: 68%;

        li {
            display: inline-flex;
            align-items: center;
            column-gap: 14px;
            color: #EAEAEA;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 160%;
            padding: 4px 12px;
            margin-bottom: 4px;
            background: #181818;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .button {
        margin-top: 40px;
    }
}

/* ABOUT US SECTION END */

/* TESTIMONI SECTION START */
.testimonial-section {
    background: #282828;

    .testimoni-image-wrap {
        position: relative;

        .img {
            max-width: 525px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .small-image {
            position: absolute;
            bottom: 70px;
            right: 0;

            img {
                max-width: 315px;
            }
        }
    }

    .testimonial-text {
        margin-top: 60px;

        .icon {
            margin-bottom: 28px;
            display: inline-block;
        }

        p {
            color: $white;
            font-size: 22px;
            font-style: italic;
            font-weight: 400;
            line-height: 147%;
            margin-bottom: 28px;
        }

        .writer {
            color: $white;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 147%;
        }
    }
}

/* TESTIMONI SECTION END */


/* metier-blog-section */
.metier-blog-section {
    background: #181818;

}

.blog-card {
    position: relative;
    background: #282828;
    margin-bottom: 30px;

    .image {
        display: block;
        overflow: hidden;

        img {
            width: 100%;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    .content {
        padding: 32px 24px;
        position: relative;

        .dates {
            background: $template-color;
            display: inline-block;
            padding: 12px 16px;
            position: absolute;
            top: -55px;
            right: 44px;

            .date {
                color: #181818;
                font-family: $heading-font;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 123.5%;
            }

            .month {
                color: #181818;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 123.5%;
                letter-spacing: 2.88px;
                text-transform: uppercase;
            }
        }

        .writer {
            color: #EAEAEA;
            font-family: "DM Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 123.5%;
            margin-bottom: 15px;

            span {
                font-weight: 600;
            }
        }

        .title {
            margin-bottom: 0;

            a {
                color: $white;
                font-family: $heading-color;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 133%;
                display: inline-block;
                margin-bottom: 0;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $template-color;
                }
            }
        }
    }
}


/*  WHY CHOOSE US SECTION START */
section.why-choose-section {
    background: #282828;

    .subtmit-button {
        margin-top: 30px;
    }

}

.single-field {
    margin-bottom: 30px;

    label {
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 144%;
        display: block;
        margin-bottom: 15px;
    }

    input {
        padding-bottom: 12px;
        color: rgba(255, 255, 255, 0.40);
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 144%;
        width: 100%;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
}

/*  WHY CHOOSE US SECTION END */